@font-face {
	font-family: 'DenseRegular';
	src: url("/Fonts/Dense-Regular.otf");
}

body {
	background-image: url("/Pics/Woods.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0px
}

div.pageName {
	padding: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

div.pageName p {
	font-family: 'DenseRegular';
	color: white;
	font-size: 2em;
}
